ipycytoscape==0.2.2
numpy==1.22.0
pymannkendall==1.2
scipy==1.4.1
pandas==1.0.3
matplotlib==3.2.1
panel==0.9.5
pytz==2019.3
IPython==7.13.0
Cython==0.29.13
pyviz_comms==0.7.5
xlrd
colorama
wcwidth
tensorflow-gpu
sklearn
biopython